#root {
    display: grid;
    grid-template-columns: 1fr;
    width: 25%;
}
#button {
    width: 15%;
    margin: 0.5rem 0 0 23rem;
}
.flex-items {
    display: flex;
}
#result {
    margin: 0.9rem;
}