#root {
    display: grid;
    grid-template-columns: 1fr;
    width: 25%;
}
.button {
    margin: 0.5rem;
}
.flex-items {
    display: flex;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    margin-left: 22rem;
}
#result {
    margin: 0.9rem;
}